<html>
    <body>
        <div id="react-root"><%- app %></div>
    </body>
    <script>
          window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) %>;
    </script>
    <%- scripts %>
</html>
